div.content{
    margin: auto;
    border: 1px,line, #000;
    display: inline-grid;
    max-width: 1200px;
    min-width: 300px;
    background-color: #fff;
}  
th{
    width: inherit;
}         
tr:nth-child(even) {
    background-color: #befdf9;
}
table{
    border-collapse:collapse;
    width: 100%;
}
tbody, thead, tr, td{
    border:1px solid blue;
    border-collapse:collapse;
    width: auto;
    text-align: center;
}
thead{
    background-color: #2266AA;
    color:white;
}
h1, h2, h3{
    text-align: left;
}
