*php_errors.log

/aspnet_client
/cache
/cli
/components
/language
/libraries
/logs
/media
/modules
/plugins
/templates
/tmp
/configuration.php
/README.txt
/robots.txt
/Thumbs.db
/web.config
/web.config.txt
/index.html
/metaupdate/save.txt
/metaupdate/Now_Playing.txt
/TPSBIN/lame
/nbproject/private/
/TPSBIN/XML/DBSETTINGS.xml
images/sampledata/parks/animals/Thumbs.db
images/sampledata/parks/landscape/Thumbs.db
/Security/php_errors.log
/php_errors.log
/Security/SecureLogin/php_errors.log
/TPSBIN/php_errors.log
*php_errors.log