/aspnet_client
/cache/*
/cli
/components
/language
/libraries
/logs
/media
/modules
/plugins
/tmp
/configuration.php
/README.txt
/Thumbs.db
# this is now a required file for Slim
# /web.config
# /web.config.txt
/index.html
/metaupdate/save.txt
/metaupdate/Now_Playing.txt
/TPSBIN/lame
/nbproject/private/
/TPSBIN/XML/DBSETTINGS*.xml
/TPSBIN/XML/sessionSecret.txt
/TPSBIN/XML/encryptKey.txt
/TPSBIN/XML/encryptIV.txt
composer.lock
Thumbs.db
error_log
php_errors.log
/temp
/vendor/
!vendor/TPS/*
!*vendor/TPS/*
!vendor/TPS/*/
!vendor/TPS/
/public/slimConfig.php
.forcetwig
/slimConfig.php
/.idea/
/mysqlDumpToTests.bat
/public/lib/std/githubConfig.php
