{# empty Twig template #}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="page-scroll" href="/">Dashboard</a>
    </li>
    <li>
        <a class="page-scroll" href="admin/station">Station Settings</a>
    </li>
    <li>
        <a class="page-scroll" href="/playsheet/new">New Playsheet</a>
    </li>
    <li>
        <a href={{siteUrl}}"/logout">Logout</a>
    </li>
</ul>