{% extends 'baseAdmin.twig' %}
{% block headScripts %}
    <style>
	.centeredTD {
	    text-align: center;
	}
    </style>
{% endblock %}
{% block title %}{{title|default('Administration Dashboard')}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-line-chart"></i>{% if search %}
        <a href="/station">System</a>
    </li>
    <li>
        <i class="fa fa-search"></i> Playlist
        {% else %}
            Playslist
        {% endif %}
    </li>
</ol>
{% endblock %}
{% block content %}
    {% if flash.error %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Error</strong> {{flash.error}}
            </div>
        </div>
    {% endif %}
    {% if flash.success %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Success</strong> {{flash.success}}
            </div>
        </div>
    {% endif %}

    <h3 style="display:inline;">Filter </h3>
    <button type="button" class="btn btn-default" id="clear_filter">Clear Filter</button>
    <br>
    <br>
    <div class="form-group row">        
        <div class="col-xs-2">
            <div class="form-group input-group">
                <label for="filter_recommended" class="input-group-addon">Recommended&nbsp;</label>
                 <select class="form-control table_filter" id="filter_recommended">
                    <option value="all">Any</option>
                    <option value="only">Only</option>
                    <option value="not">Not</option>
              </select>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group input-group">
                <label for="filter_expiry" class="input-group-addon">Expiry&nbsp;</label>
                 <select class="form-control table_filter" id="filter_expiry">
                    <option value="all">All</option>
                    <option value="active">Active</option>
                    <option value="expired">Expired</option>
              </select>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group input-group">
                <label for="filter_missing" class="input-group-addon">Missing&nbsp;</label>
                 <select class="form-control table_filter" id="filter_missing">
                    <option value="all">All</option>
                    <option value="missing">missing</option>
              </select>
            </div>
        </div>


    </div>
    <h3>Playlist</h3>
    <hr size="30">
    <table class='table table-bordered table-hover' id='playlist_table'>
        <thead>
	    <tr>
                <th>Playlist #</th>
                <th>Artist</th>
                <th>Album</th>
	        <th>Subgenres</th>
	        <th>Hometowns</th>
	        <th>Recommended</th>
                <th>Add Date</th>
                <th>End Date</th>
                <th>Edit</th>
	    </tr>
        </thead>
	<tfoot>
	    <tr>
                <th>Playlist #</th>
                <th>Artist</th>
                <th>Album</th>
	        <th>Subgenres</th>
	        <th>Hometowns</th>
	        <th>Recommended</th>
                <th>Add Date</th>
                <th>End Date</th>
                <th>Edit</th>
	    </tr>
	</tfoot>
    </table>

    <div class="row">
        <div class="col-lg-6">
            <span>Report:</span>
            <a class="btn btn-default" href="./report/xlsx" target="_blank">XLSX</a>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <a class="btn btn-success" href="./new">New</a>
                <a class="btn btn-primary" href="">Refresh</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block lastScripts %}
<script src="{{siteUrl}}/TPSBIN/JS/playlistSearch.js"></script>
{% endblock %}
