@font-face {
    font-family: Barcode;
    src: url(../../TPSBIN/C39.ttf);
}
.barcode{
    font-family: Barcode;
    font-size: 3em;
}

body {
    width: 8.5in;
    margin: 0in .188in;
    /*margin-bottom: 0.5in;
    margin-bottom: 0.5in;*/
    }
    
.label-color .color-box-100 {
    width: 10px;
    height: 50%;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0px;
    top: 0px;
}

.label-color .color-box-50 {
    width: 10px;
    height: 100%;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0px;
    top: 50%;
}

.label-color{
    /*
    background: #ff1a00;
    background: -moz-linear-gradient(left,  #ff1a00 0%, #ff1a00 5%, #ffffff 6%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff1a00), color-stop(5%,#ff1a00), color-stop(6%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #ff1a00 0%,#ff1a00 5%,#ffffff 6%,#ffffff 100%);
    background: -o-linear-gradient(left,  #ff1a00 0%,#ff1a00 5%,#ffffff 6%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #ff1a00 0%,#ff1a00 5%,#ffffff 6%,#ffffff 100%);
    background: linear-gradient(to right,  #ff1a00 0%,#ff1a00 5%,#ffffff 6%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ffffff',GradientType=1 );
    */    
    
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 2.03in; /* plus .6 inches from padding */
    height: .883in; /* plus .125 inches from padding */
    padding: .13in .3in 0;
    margin-right: .203in; /* the gutter */

    float: left;

    text-align: center;
    overflow: hidden;

    /*outline: 1px dashed; *//* outline doesn't occupy space like border does */
    }
    
.label{
        
    /* Avery 5160 labels -- CSS and HTML by MM at Boulder Information Services */
    width: 2.03in; /* plus .6 inches from padding */
    height: .883in; /* plus .125 inches from padding */
    padding: .13in .3in 0;
    margin-right: .203in; /* the gutter */

    float: left;

    text-align: center;
    overflow: hidden;

    /*outline: 1px dashed; *//* outline doesn't occupy space like border does */
    }
.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
    }